@font-face {
        font-family: determination;
        src: url(sans.otf);
        }

body {
    background-color: black;
    font-family: determination;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    
}

img {
    margin-top: 20px;
    align-self: center;
}